

<br><br>

<div>

  <mat-form-field>
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <i class="fas fa-plus-circle" (click)="agregarProducto()" id="sticky" ></i>
  <table [dataSource]="dataSource" class="mat-elevation-z8" mat-table>



    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell> Id</th>
      <td *matCellDef="let element;let i=index" mat-cell> {{element.id}} </td>

    </ng-container>
    <ng-container matColumnDef="nombre">
      <th *matHeaderCellDef mat-header-cell> Nombre</th>
      <td *matCellDef="let element" mat-cell> {{element.nombre}} </td>

    </ng-container>
    <ng-container matColumnDef="foto">
      <th *matHeaderCellDef mat-header-cell> Foto</th>
      <td *matCellDef="let element" mat-cell><img src="{{element.foto}}" width="50" height="50"> </td>

    </ng-container>
    <ng-container matColumnDef="categoria">
      <th *matHeaderCellDef mat-header-cell> Categoria</th>
      <td *matCellDef="let element" mat-cell> {{element.tipo}} </td>

    </ng-container>
    <ng-container matColumnDef="color">
      <th *matHeaderCellDef mat-header-cell> Color</th>
      <td *matCellDef="let element" mat-cell> {{element.color}} </td>

    </ng-container>

    <ng-container matColumnDef="stock">
      <th *matHeaderCellDef mat-header-cell> Stock</th>
      <td *matCellDef="let element" mat-cell> {{element.cantidad|number}} </td>

    </ng-container>

    <ng-container matColumnDef="borrar">
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let element" mat-cell>
        <button (click)="borrar(element.id)">Borrar</button>
      </td>

    </ng-container>


    <tr *matHeaderRowDef="columnas" mat-header-row></tr>
    <tr *matRowDef="let row;columns:columnas;" mat-row></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No encontrado"{{input.value}}"</td>
    </tr>

  </table>

</div>
