table{
  width: 100%;
}
.buton{
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}
#sticky{
  position: absolute;
  top: 0;
  right: 50px;
  margin-top: 20px;

}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
