<div class="limiter">
  <div class="container">



    <form class="wrap-login" [formGroup]="grupo">




   <!--   <div class="image" style="background-image: url('https://images4.alphacoders.com/100/1002969.jpg');"></div>-->


      <div class="login-form">
        <span class="login-form-title">Login as User</span>

        <div class="wrap-input"><input type="text" placeholder="username" formControlName="email">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input"><input type="password" placeholder="password" formControlName="password">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-button">
          <button (click)="login()">Login</button>
        </div>

      </div>











    </form>

  </div>


</div>
