.containerList{
  width: 100%;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  justify-content: center;
}
.wraperlista{
  margin-right: 5rem;

  margin-bottom: 6rem;
}
