.containerList{
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 4rem;
  margin-left: 6rem;
}
.wraperlista{
  margin-right: 4rem;

  margin-bottom: 6rem;
}
